
/* style.css */
/* Par Komlan Albert Gblokpor-Koffi*/
/*Le 17/07/2020 */

@font-face {
    font-family: maPolice;
    src: url("../font/Starjedi.ttf");
}

#backgroundColor{
    background-color: black;
}

#formulaire{
    padding: 7rem;
    background-color: #333831;
}

h1{
    color: white;
}
h5{
    color: white;
}
p{
    color: white;
}
hr{
    border-color: white;
}
.nom{
    color: white;
}
.prenom{
    color: white;
}
.dateNaissance{
    color: white;
}
.codeRegional{
    color: white;
}
.telephone{
    color: white;
}
.codeRegional2{
    color: white;
}
.numDeTelephone{
    color: white;
}
.email{
    color: white;
}
.adresse{
    color: white;
}
.numdePorte{
    color: white;
}
.numerodApparetement {
    color: white;
}

.ville{
    color: white;
}
.etatProvince{
    color: white;
}
.codePostal{
    color: white;
}
#deuxiemecCase {
    background-color: #d49e65;
}
#body {
    color: #d01212;
}

.rouge{
    background-color:red;


}
.green{
    background-color: green;

}
.bleu{
    background-color: blue;

}
.Asterisque{
    color: red;
}
.tiret{
    color: white;
}