
/* style.css */
/* Par Komlan Albert Gblokpor-Koffi*/
/*Le 17/07/2020 */

#formulaire{
    padding: 7rem;
    background-color: #80c170;
}

h1{
    color: white;
}
h5{
    color: white;
}
p{
    color: white;
}
hr{
    border-color: white;
}

