
/* style.css */
/* Par Komlan Albert Gblokpor-Koffi*/
/*Le 12/11/2020 */

/* ici commence le code de la gallerie */

.container{
    width: 100vw;
    height: 100vh;
    background: #232323;
    display: flex;
    align-items: center;
    justify-content: center;
}

svg{
    fill: #fff;
    width: 70%;
}


/* ici prend fin le code de la gallerie */










.container{
    width: 100vw;
    height: 100vh;
    background: #232323;
    display: flex;
    align-items: center;
    justify-content: center;
}

svg{
    fill: #fff;
    width: 70%;
}


.parallax{
    /* L’image du Parallax */
    background-image: url("../img/evequepeupleDieu.png");
    min-height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.parallax2{
    /* L’image du Parallax*/
    background-image: url("../img/seminariste.jpg");
    min-height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#formulaire{
    padding: 7rem;
    background-color: #333831;
}

h1{
    color: white;
}
h5{
    color: white;
}
p{
    color: white;
}
hr{
    border-color: white;
}
.nom{
    color: white;
}
.prenom{
    color: white;
}
.preference{
    color: white;
}
.un{
    color: white;
}
.deux{
    color: white;
}
.trois{
    color: white;
}
.plusieurs{
    color: white;
}
.souhaits{
    color: white;
}

.dateNaissance{
    color: white;
}
.codeRegional{
    color: white;
}
.telephone{
    color: white;
}
.codeRegional2{
    color: white;
}
.numDeTelephone{
    color: white;
}
.email{
    color: white;
}
.adresse{
    color: white;
}
.numdePorte{
    color: white;
}
.numerodApparetement {
    color: white;
}

.ville{
    color: white;
}
.etatProvince{
    color: white;
}
.codePostal{
    color: white;
}
#deuxiemecCase {
    background-color: #d49e65;
}
#body {
    color: #d01212;
}

.rouge{
    background-color:red;


}
.green{
    background-color: green;

}
.bleu{
    background-color: blue;

}
.Asterisque{
    color: red;
}
.tiret{
    color: white;
}

.identification{
    color: white;
}
.fondRouge{
    background-color: red;
    height: 100px;
}
.fondBleu{
    background-color: blue;
    height: 100px;

}

.fondVert{
    background-color: #87ff5d;
    height: 100px;
}
.fondJaune{
    background-color: yellow;
    height: 100px;

}
.fondBlanc{
    background-color: white;
    height: 100px;
}


h1{
    color: #f11555;
    text-align: left;
}
h2{
    color: white;
}
p{
    color: grey;
}
i{
    color: #f05f40;
}
.fas, .fa-bars{
    color: rgb(6, 128, 37);
    background-color: #e6e8f1;
}

img{
    width: 100%;
}

#banniere{
    padding: 20rem;
    background-image: url("../img/Banniere.jpg");
    background-repeat: no-repeat;
    background-size:cover;
}
img:hover {
    box-shadow:20px 20px 5px 1px #7aa780;
}
#SectionActualite{
    background-color: #b2e5bd;
}
#SectionPresbyterium{
    background-color: #b2e5bd;
}
#SectionEveque{
    background-color: #b2e5bd;
}

#partie4 {
    background-color: #34ce57;
    padding: 4rem;
}
.partie5{
    background-color: #9fcdff;
    padding: 6rem;
}
#partie6{
    padding: 10rem;
    background-color: #9fcdff;
}
#partie7 {
    padding: 7rem;
    background-color: #b2e5bd;
    background-image: url("../img/Monseigneur2.jpg");
    background-repeat: no-repeat;
    background-size:cover;
}
#Messenger{
    background-color: #9fcdff;
    padding: 6rem;
}

#consultation{
    padding: 5rem;
    background-color: green;
}

#separation2{
    border-color: white;
}
#separation3{
    border-color: white;
}
#Actualites{
    padding-top: 2rem;
}

bg::after {
    content: "";
    background-image: url("../img/VieuxQuebec.JPG");
    opacity: 0.5;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
}

/* Pour les tablettes */
@media screen and (min-width: 481px) and (max-width: 1199px){
    #partie2{
        background-image: url("../img/kpalime3.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        padding-bottom:20rem;
        padding-top: 20rem;
        position: relative;
    }
}
/* Pour les cellulaires */
@media screen and (max-width: 480px){
    #partie2{
        background-image: url("../img/kpalime2.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        padding-bottom: 20rem;
        padding-top: 20rem;
        position: relative;
    }
}

body {
    background: #eee;
}

.flexslider {
    width: 790px;
    margin: 0 auto;
    box-shadow: none;
}

.flexslider li {
    position: relative;
}

.flexslider li .meta {
    position: absolute;
    bottom: 20px;
    left: 20px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    font-family: 'Roboto', sans-serif;
}

.flexslider li h1 {
    background: rgba(51, 51, 51, 0.5);
    padding: 12px 18px 12px;
    margin-bottom: 0;
    font-size: 1.8em;
    font-weight: 300;
}

.flexslider li h2 {
    background: rgba(51, 51, 51, 0.5);
    padding: 13px 18px 11px;
    font-size: 1.1em;
    margin-bottom: 0;
    font-weight: 300;
}

.flexslider li .category {
    display: flex;
    flex-direction: row;
}

.flexslider li .category p {
    background: #e43837;
    margin-right: 7px;
    font-size: 1.1em;
    padding: 12px 18px 10px;
    font-weight: 300;
}

.flexslider li .category span {
    background: #e43837;
    margin-top: 17px;
    padding: 8px 12px 0;
    font-size: 0.9em;
    font-weight: 300;
    height: 26px;
}

.flexslider li h1,
.flexslider li h2,
.flexslider li .category p,
.flexslider li .category span {
    -webkit-animation-duration: .6s;
    animation-duration: .6s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-name: fadeOutLeft;
    animation-name: fadeOutLeft;
}

.flexslider li.flex-active-slide .meta h1,
.flexslider li.flex-active-slide .meta h2,
.flexslider li.flex-active-slide .meta .category p,
.flexslider li.flex-active-slide .meta .category span {
    -webkit-animation-delay: .4s;
    animation-delay: .4s;
    -webkit-animation-duration: .6s;
    animation-duration: .6s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-name: fadeInLeft;
    animation-name: fadeInLeft;
}

.flexslider li.flex-active-slide .meta h2 {
    -webkit-animation-delay: .5s;
    animation-delay: .5s;
}

.flexslider li.flex-active-slide .meta .category p {
    -webkit-animation-delay: .6s;
    animation-delay: .6s;
}

.flexslider li.flex-active-slide .meta .category span {
    -webkit-animation-delay: .8s;
    animation-delay: .8s;
}

.flex-direction-nav {
    position: absolute;
    top: 0;
    left: 30px;
}

.flex-direction-nav a {
    text-decoration: none;
    display: block;
    width: 30px;
    height: 30px;
    background-color: #333;
    margin: -20px 0 0;
    position: absolute;
    top: 50px;
    z-index: 10;
    overflow: hidden;
    opacity: .5;
    cursor: pointer;
    color: #fff;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    transition: all .3s ease;
}

.flex-direction-nav .flex-prev {
    text-align: left;
    left: -10px;
}

.flex-direction-nav .flex-next {
    text-align: right;
    left: 30px;
}

.flexslider:hover .flex-prev {
    left: -10px;
}

.flexslider:hover .flex-next {
    left: 30px;
}

.flexslider:hover .flex-next:hover,
.flexslider:hover .flex-prev:hover {
    opacity: 1;
}

.flex-direction-nav a:before {
    font-family: FontAwesome;
    content: '\f104';
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 0;
    padding: 2px;
    font-size: 19px;
    line-height: 27px;
}

.flex-direction-nav a.flex-next:before {
    content: '\f105';
}

@-webkit-keyframes fadeInLeft {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(-100%, 0, 0);
        transform: translate3d(-100%, 0, 0);
    }
    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

@keyframes fadeInLeft {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(-100%, 0, 0);
        transform: translate3d(-100%, 0, 0);
    }
    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

@-webkit-keyframes fadeOutLeft {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        -webkit-transform: translate3d(-100%, 0, 0);
        transform: translate3d(-100%, 0, 0);
    }
}

@keyframes fadeOutLeft {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        -webkit-transform: translate3d(-100%, 0, 0);
        transform: translate3d(-100%, 0, 0);
    }
}